.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/d45d9a063ef4ead975a70c7a74ded221da9a8af9bd6b1c4b855a2f551bc0bd6d2e18ab24f4ca1eda95045f363db45e1104a375d3fc892bf4dd3349_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 559px;
}

.u-section-1 .u-form-1 {
  height: 340px;
  width: 570px;
  margin: 99px auto 60px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  box-shadow: -2px 0 14px 0 rgba(128,128,128,1);
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 461px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}